@model List<MyPortfolioUdemy.DAL.Entities.Skill>
<div class="col-six tab-full right">
    <h3>Bazı programlama dilleri</h3>

    <ul class="skill-bars">
        @foreach(var item in Model)
        {
            <li>
                <div class="progress percent @item.Value"><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
        <!--<li>
            <div class="progress percent90"><span>90%</span></div>
            <strong>HTML5</strong>
        </li>
        <li>
            <div class="progress percent85"><span>85%</span></div>
            <strong>CSS3</strong>
        </li>
        <li>
            <div class="progress percent70"><span>70%</span></div>
            <strong>JQuery</strong>
        </li>
        <li>
            <div class="progress percent95"><span>95%</span></div>
            <strong>PHP</strong>
        </li>
        <li>
            <div class="progress percent75"><span>75%</span></div>
            <strong>Wordpress</strong>
        </li>
        <li>
            <div class="progress percent90"><span>90%</span></div>
            <strong>Angular JS</strong>
        </li>-->
    </ul>
</div>